// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Almanac Colors:
$background: #C7C2B8;
$font-color: #1B1B19;
$font-color-second: #ffff;
$border-color: #959595;

// Timeline Colors:
$bkgd-timeline-one-color: #1B1B19;
$bkgd-timeline-two-color: #982226;
$bkgd-timeline-three-color: #959595;
$bkgd-timeline-font-color: #1B1B19;
$bkgd-timeline-border-one-color: #1B1B19;
$bkgd-timeline-border-two-color: #982226;
$bkgd-timeline-border-three-color: #959595;
