
.dashboard-first-box {

}

.dashboard-card-container {
  flex-grow: 0.5;
}

.dashboard-cards {
  display: grid;
  border: 1px solid black
}

.dashboard-second-box {
  display: flex;
}

.dashboard-comment-left-container {
  flex-grow: 0.5;
}

.dashboard-card-title {

}

.dashboard-card-description {

}

.dashboard-events-containers {
  flex-grow: 0.5;
}
