
.dashboard-first-box {

}

.dashboard-card-container {
  flex-grow: 0.5;
}

.dashboard-cards {
  display: grid;
  border: 1px solid black
}

.dashboard-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.dashboard-second-box {
  display: flex;
}

.dashboard-comment-left-container {
  flex-grow: 0.5;
}

.dashboard-card-title {

}

.dashboard-card-description {

}

.dashboard-events-containers {
  flex-grow: 0.5;
}
