// Specific CSS for your home-page
.homepage-left-container {
  margin-bottom: 15px;
}

.homepage-second-big-container {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #1B1B19;
}

.homepage-right-container {
  justify-content: center;
  //align-items: center;
}

.homepage-btn {
  align-self: flex-end;
}

.homepage-cards-container {
  display: flex;
  //flex-wrap: nowrap !important;
  margin-top: calc(-1 * var(--bs-gutter-y));
  text-transform: uppercase;
  //border-top: 2px solid #959595;
  padding: 10px 10px 10px 10px;
  text-align: center;
  flex-grow: 1;
}

.card-title-description-homepage {
  height: auto ;
}

.homepage-podcast-container {
  border-left: 2px solid #959595;
  margin-left: 6px;
  padding-left: 10px;
  width: 40%;
  flex-grow: 1;
  //align-self: center;
}
.foot-infos {
  display: flex !important;
  justify-content: space-between !important;
}

.p-quote {
  width: 50%;
}

.podcast {
  width: 100%;
}
