#timeline-embed {
  height: calc(65vh) !important;
  border: solid 1px $border-color;
}

.popup {
  height: 20px;
  width: 200px;
  text-align: center;
  color: $link-color;
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 5px;
  left: -5%;
  display: inline;
}

@media (max-width: 480px) {
  .popup {
    left: -20%;
  }
}
