#timeline-embed {
  height: calc(100vh) !important;
  border: solid 1px $border-color;
}

#popup {
  height: 50px;
  width: 200px;
  text-align: center;
  vertical-align: right;
  background-color: cornflowerblue;
  color: white;
  display: none;
  padding-top: 8px;
  position: absolute;
}
