// Calculation for height of timeline = 100vh - navbar height

#timeline-embed {
  height: calc(100vh - 66px) !important;
}

[id^="color1"] .tl-timemarker-content.tl-timemarker-content-small {
  background-color: $bkgd-timeline-one-color !important;
  color: white !important;

}

[id^="color2"] .tl-timemarker-content.tl-timemarker-content-small {
  background-color: $bkgd-timeline-two-color !important;
  color: white !important;

}

[id^="color3"] .tl-timemarker-content.tl-timemarker-content-small {
  background-color: $bkgd-timeline-three-color !important;
  color: white !important;

}

.tl-timegroup .tl-timegroup-message {
  color: #1B1B19 !important;
}

.tl-timegroup.tl-timegroup-alternate .tl-timegroup-message {
  color: #1B1B19 !important;
}

#bookmark-selector {
  padding: 16px;
}
