// Calculation for height of timeline = 100vh - navbar height

[id^="color1"] .tl-timemarker-content.tl-timemarker-content-small, [id^="color1"] .tl-timemarker-content {
  background-color: $bkgd-timeline-one-color !important;
  color: white !important;
}

[id^="color2"] .tl-timemarker-content.tl-timemarker-content-small, [id^="color2"] .tl-timemarker-content {
  background-color: $bkgd-timeline-two-color !important;
  color: white !important;
}

[id^="color3"] .tl-timemarker-content.tl-timemarker-content-small, [id^="color3"] .tl-timemarker-content {
  background-color: $bkgd-timeline-three-color !important;
  color: white !important;
}

.tl-timegroup .tl-timegroup-message {
  color: #1B1B19 !important;
}

.tl-timegroup.tl-timegroup-alternate .tl-timegroup-message {
  color: #1B1B19 !important;
}

#bookmark-selector {
  padding: 1px;
}

[id^="color1"].tl-timemarker-active ::after {
  background-color: $bkgd-timeline-one-color !important;
}

[id^="color2"].tl-timemarker-active ::after {
  background-color: $bkgd-timeline-two-color !important;
}

[id^="color3"].tl-timemarker-active ::after {
  background-color: $bkgd-timeline-three-color !important;
}

.tl-headline.tl-headline-title {
  color: white !important;
}

.tl-text-content p {
  color: white !important;
}

// The following rules only apply to the show page:

.timelineshowpagewrapper .tl-timemarker-content.tl-timemarker-content {
  background-color: $bkgd-timeline-one-color !important;
  color: white !important;
}

.timelineshowpagewrapper .tl-timemarker-active ::after {
  background-color: $bkgd-timeline-one-color !important;
}
