.Hpg-btn {
  color:$font-color-second !important;
  font-size: 24px;
  padding: 8px 24px;
  border-radius: 4px;
  background: $font-color !important;
  transition: background 0.3s ease;
}

.Hpg-btn:hover {
  background: $font-color;
  color: $font-color;
}

.click-btn {
  color: $body-font;
  border: 1px solid $border-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.click-btn:hover {
  opacity: 1;
}

.submit-btn {
  color: $body-font;
  border: 1px solid $border-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.submit-btn:hover {
  opacity: 1;
}
