.Hpg-btn {
  color:$font-color-second !important;
  font-size: 20px;
  width: 75%;
  text-align: center;
  padding: 8px 24px;
  //margin-left: 73%;
  //border-radius: 4px;
  background: $font-color !important;
  transition: background 0.3s ease;
}

.Hpg-btn:hover {
  background: $font-color;
  color: $font-color;
}

.click-btn {
  color: $font-color;
  border: 1px solid $border-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.click-btn:hover {
  color: $font-color;
  opacity: 1;
}

.submit-btn {
  color: $font-color;
  border: 1px solid $border-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.submit-btn:hover {
  color: $font-color;
  opacity: 1;
}

.click-btn-card {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: fixed;
  bottom: 2px;
}

.click-btn-card:hover {
  color: white;
  opacity: 1;
}
