.nav-tabs {
  font-family: $body-font;
  border-bottom: 1px solid #FFFF;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.timelines-tab-global-container {
  width: 100%;
}

.timelines-tab-container {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  //justify-content: flex-start;
  //flex-direction: row;
}

.timelines-tab-text-container{
  border-style: 1px solid #1B1B19;
  width: 70%;
  height: 200px;
  justify-content: flex-start;
  text-align: start;
  //margin-bottom: 15px;
  border-bottom: 1px solid #959595;
}

.timeline-creation-date {
  color: #1B1B19;
  font-size: 10px;
  padding-top: 5px;
}

.dashboard-action-links {
  color: #1B1B19;
  text-transform: uppercase;
  justify-items: space-around;
  font-size: 10px;
  padding-top: 5px;
  text-align: end;
}

.timelines-tab-content-cards-container {
  border-style: 1px solid #1B1B19;
  width: 30%;
  height: 200px;
}

.dashboard-tab-timeline-message {
  font-size: 16px;
  font-style: normal;
  font-family: $body-font;
  color: #1B1B19;
  text-align:justify;
  text-transform: none;
  padding-bottom: 15px;
}
