@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

#social-test {
  .social {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: $border-color;
    //border-radius: 6px;
    list-style-type: none;
    //display: inline-block;
    //width: 15px;
    //height: 15px;
    //line-height: 100px;
    padding: 1%;
    //border: 1px solid $border-color;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
    &:hover {
      color: $border-color;
      //border: 1px solid rgba(256, 256, 256, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
.credits,
.credits a {
  font-size: 20px;
  font-family: $body-font;
  color: rgba(256, 256, 256, 0.6);
}
