<div class="form-sign-up-container">
  <%= simple_form_for([@timeline, @review]) do |f| %>
    <div class="form-inputs">
      <%= f.input :comment %>
      <%= f.input :ratting, collection: ['0', '1', '2', '3', '4', '5'] %>
      <%= f.submit class: "submit-btn" %>
    </div>
  <% end %>
</div>
